{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="hold-transition login-page">
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a href="../../index2.html" class="h1"><b>Sports</b> League</a>
        </div>
        {% include 'messages.html' %}
        <div class="card-body">
            <p class="login-box-msg">Let us check in our system, send it to your email</p>
    
          <form method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Email" name="email">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="col-md-12">
                <button type="submit" name="submit" class="btn btn-primary btn-block">Submit</button>
              </div>
          </form>
          <!-- /.social-auth-links -->
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.login-box -->
    </body>
    {% endblock %}