{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="hold-transition login-page">
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a href="../../index2.html" class="h1"><b>Sports</b> League</a>
        </div>
        {% include 'messages.html' %}
        <div class="card-body">
            <p class="login-box-msg">Sign up to use our system</p>
    
          <form method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Email" name="email" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Name" name="name">
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Password" name="password" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Confirm Password" name="confirmpassword" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
            <br>
            <div class="col-md-12">
                <button type="submit" name="submit" class="btn btn-primary btn-block">Sign Up</button>
              </div>
          </form>
          <!-- /.social-auth-links -->
    
          <p class="mb-1">
            <a href="{% url 'Forgot Password' %}">Forgot Password?</a>
          </p>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.login-box -->
    </body>
    {% endblock %}